*.exe
*.aux
*.fls
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
_region_*
auto
*.fmt
*converted-to.pdf
*~
*.zip
TAGS
*.bin
*.class
.build
checker
*fdb_latexmk
*.md5
*.tar.gz
__pycache__

dataset
statement.pdf
oneside.pdf
twoside.pdf
titlepage.pdf
